html {
  height: 100%;
}

.heading {
  color: whitesmoke;
  padding: 10px;
  font-size: 48px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #fc466b, #3f5efb);
  width: 100%;
}

.heading>div {
  margin: 0 20px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
  height: 100%;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 600px;
}

.btn-container button {
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  background: linear-gradient(to right, #fc466b, #3f5efb);
  color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  border: 1px solid white;
  flex-grow: 1;
  background-color: white;
}

.container>div {
  display: flex;
  background-color: white;
}

.container>div>div {
  background-color: white;
}

.footer {
  padding: 5px;
  padding-top: 10px;
  height: 30px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: white;
}

i {
  color: white;
}